p, h1, h2, h3, h4, h5, h6, small {
  max-width: 48em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit !important;
    text-decoration: none;
}

ul, ol {
  /* account for the 1em -webkit-margin-start for the list icon */
  max-width: 45em;
}

ul,ol,dl, p {
  line-height: 1.4;
}

body {
  margin-top: 1em;
  margin-bottom: 1em;
}

#maincontainer {
    display: flex;
    max-width: 80em;
}

#maincontainer main {
    max-width: 50em;
}

#maincontainer main * {
    max-width: 50em;
}

#maincontainer aside {
    margin-left: 5em;
    max-width: 25em;
}

article > h2.entry_header {
    margin-bottom: 3px;
}

.entry_meta {
    border: 1px thin;
    padding: 3px 0;
    background-color: LightBlue;
}

hr.entry_sep {
   border: none;
}
hr.entry_sep::before {
  content: '* * *';
  display: block;
  text-align: center;
}
